In [50]:
#load the Ann trained model, scalar pickle, one hot 


import numpy as np
import pandas as pd
import pickle

In [51]:
import tensorflow as tf

from tensorflow.keras.models import load_model

In [52]:
model= load_model('model.h5')

WARNING:absl:Compiled the loaded model, but the compiled metrics have yet to be built. `model.compile_metrics` will be empty until you train or evaluate the model.

In [53]:
##load the encoder
with open('one_encoder_geography.pkl' ,'rb') as file:
    one_encoder_geography= pickle.load(file)

In [54]:
with open('label_encoder_gender.pkl' ,'rb') as file:
    label_encoder_gender= pickle.load(file)

In [55]:
with open("scaler.pkl",'rb') as file:
    scaler=pickle.load(file)

In [83]:
# Example input data
input_data = {
    'CreditScore': 100,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 25,
    'Tenure': 6,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 500000
}

In [84]:
geo_encoded = one_encoder_geography.transform([[input_data['Geography']]]).toarray()
geo_encoded = pd.DataFrame(geo_encoded,columns=one_encoder_geography.get_feature_names_out(['Geography']))
geo_encoded

c:\Users\anshu\OneDrive\Desktop\ANN-project\venv\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [85]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,France,Male,25,6,60000,2,1,1,500000

In [86]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,100,France,1,25,6,60000,2,1,1,500000

In [87]:
## concatination one hot encoded 
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_encoded],axis=1)
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,100,1,25,6,60000,2,1,1,500000,1.0,0.0,0.0

In [88]:
input_scaled=scaler.transform(input_df)
input_scaled

array([[-5.72485068,  0.91324755, -1.32129295,  0.34567966, -0.25781119,
         0.80843615,  0.64920267,  0.97481699,  6.94716943,  1.00150113,
        -0.57946723, -0.57638802]])

In [89]:
prediction=model.predict(input_scaled)
prediction

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 24ms/step

array([[0.77819353]], dtype=float32)

In [90]:
prediction_proba = prediction[0][0]

In [91]:
prediction_proba

0.77819353

In [92]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is likely to churn.